{% extends "base.html" %}
{% block estilos %}{% load static %}<link rel="stylesheet" href="{% static 'css/listas.css' %}">{% endblock %}
{% comment %}Arquétipo SEARCH: campo grande e resultados agrupados por tipo (funciona sem JS).{% endcomment %}
{% block conteudo %}
{% block cabecalho_busca %}{% endblock %}
<form method="get" role="search" class="cartao cartao__corpo">{% block campo_busca %}{% endblock %}</form>
<div class="pilha-lg mt-6">{% block grupos_resultados %}{% endblock %}</div>
{% endblock %}
